<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @player.title %>
</p>

<p>
  <strong>Email:</strong>
  <%= @player.email %>
</p>

<% if current_player && @player.id == current_player.id %>
  <% if current_player.country %>
    <!-- show the country -->
    <h2> Your country </h2>
      <ul>
        <li> Name: <%= current_player.name %> </li>
        <li> Flag: <img src="/assets/flags/<%=current_player.country.flag %>"></img> </li>
        <li> Motto: <%= current_player.country.motto %> </li>
        <li> Population: <%= current_player.country.population %> </li>
        <li> Employment: <%= current_player.country.employment %> </li>
        <li> Tax rate: <%= current_player.country.tax_rate %> </li>
        <li> Wealth: <%= current_player.country.wealth %> </li>
      </ul>  

  <% else %>
    <!-- create country form -->
    <h2>Create Your Country</h2>
    <%= render 'countries/form' %>
  <% end %>
<% else %>
    <% if @player.country %>
        <!-- show the country -->
      <h2> <%= @player.title %> <%= @player.name %>'s country </h2>
      <ul>
        <li> Name: <%= @player.country.name %> </li>
        <li> Flag: <%= image_tag 'flags/' + @player.country.flag %> </li>
        <li> Motto: <%= @player.country.motto %> </li>
        <li> Population: <%= @player.country.population %> </li>
        <li> Employment: <%= @player.country.employment %> </li>
        <li> Tax rate: <%= @player.country.tax_rate %> </li>
        <li> Wealth: <%= @player.country.wealth %> </li>
      </ul>  
    <% end %>    
<% end %>    

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
